.DS_Store
/pyplm.egg-info
# pyplm.egg-info/*
/*/__pycache__
/*/*/__pycache__
# /pyplm/_pycache_
/build
/.vscode
/*.hdf5
/.ipynb_checkpoints
/.ipynb_checkpoints/*
# /outputs
/outputs/*
/inference/__pycache__
/inference/__pycache__/*