.DS_Store
/pyplm.egg-info
/pseudolm.egg-info
# pyplm.egg-info/*
/*/__pycache__
/*/*/__pycache__
# /pyplm/_pycache_
/build
/dist
/.vscode
/*.hdf5
/.ipynb_checkpoints
/.ipynb_checkpoints/*
/outputs/
/inference/__pycache__
/inference/__pycache__/*
